.form__sign-up--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .sign__up--title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    align-items: flex-start;
  }

  .sign__up--description {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
  }

  .sign__up--form {
    width: 50%;
  }
}

/* Mobile and tablet */
@media (max-width: 1480px) {
}
/* IPAD PRO */
@media (min-width: 1048px) and (max-width: 1480px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
  .form__sign-up--wrapper {
    .sign__up--form {
      width: 80%;
    }
  }
}
/* Mobile */
@media (max-width: 739px) {
  .form__sign-up--wrapper {
    .sign__up--form {
      width: 80%;
    }
  }
}
