.rate {
  padding: 0 6px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    .rate__icon {
      // color: var(--primary);
      opacity: 1;
    }
  }

  .rate__icon {
    font-size: 1.2rem;
    // color: #dddddd;
  }
}

/* Mobile and tablet */
@media (max-width: 1480px) {
}
/* IPAD PRO */
@media (min-width: 1048px) and (max-width: 1480px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
  .rate {
    .rate__icon {
      font-size: 1.1rem;
    }
  }
}
/* Mobile */
@media (max-width: 739px) {
}
