.list__product--home {
  .list__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    margin-top: 20px;

    .title__content {
      font-size: 3.2rem;
      font-weight: 400;
      font-family: 'Noto Serif';

      color: var(--black);
    }

    .title__watch--all {
      color: var(--primary);
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
      position: relative;

      &:hover {
        color: var(--black);

        &::after {
          background-color: var(--black);
          width: 100%;
          left: 0%;
        }
      }

      &::after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: -6px;
        left: 20%;
        width: 60%;

        background-color: var(--primary);
        opacity: 0.3;
        transition: all 0.3s;
      }
    }
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
  .list__product--home {
    .list__title {
      margin: 20px 40px;

      .title__content {
        font-size: 3.2rem;
      }
    }
  }
}
/* Mobile */
@media (max-width: 739px) {
  .list__product--home {
    .list__title {
      .title__content {
        font-size: 2.2rem;
      }
    }
  }
}
