/* Mobile and tablet */
.wrapper {
  overflow: hidden;

  .header {
    height: 132px;
  }

  .container {
    padding-top: 20px;
    min-height: 64vh;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .wrapper {
    .header {
      height: 80px;
    }
  }
}
