.form__sign-in--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .sign__in--title {
    font-weight: 700;
    color: #333;
    font-size: 2rem;
  }

  .sign__in--form {
    width: 50%;
  }
}

/* Mobile and tablet */
@media (max-width: 1480px) {
}
/* IPAD PRO */
@media (min-width: 1048px) and (max-width: 1480px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
  .form__sign-in--wrapper {
    .sign__in--form {
      width: 80%;
    }
  }
}
/* Mobile */
@media (max-width: 739px) {
  .form__sign-in--wrapper {
    .sign__in--form {
      width: 80%;
    }
  }
}
