.form__sign-in--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .sign__in--title {
    font-weight: 700;
    color: #333;
    font-size: 2rem;
  }

  .sign__in--form {
    width: 50%;
  }
}

@media (max-width: 820px) {
  .form__sign-in--wrapper {
    .sign__in--form {
      width: 80%;
    }
  }
}
