.list {
  display: flex;
  justify-content: space-around;

  .item {
    position: relative;
    &:hover {
      .item-list {
        display: block;
      }
    }

    .item-title {
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      color: var(--text-color);
      cursor: pointer;

      &:hover {
        color: var(--primary);
      }

      .item-title-content {
        font-size: 1.3rem;
        font-weight: 700;

        padding-right: 6px;
      }

      .item-title-icon {
        font-size: 1rem;
      }
    }

    .item-list {
      position: absolute;
      min-width: 260px;

      color: var(--text-color);
      background-color: var(--white);

      border-radius: 8px;
      box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
      border: 2px solid #ddd;

      padding: 20px 0;
      margin-left: -20px;
      padding-top: 8px;
      transition: opacity 0.25s;
      display: none;
      z-index: 1;

      .item-children {
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
          color: var(--primary);
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }
  }
}
