.introduce {
  display: flex;
  align-items: center;
  padding: 30px 10px;

  .introduce-icon {
    color: var(--primary);
    padding-right: 16px;
    span {
      font-size: 4rem;
    }
  }
  .introduce-content {
    .introduce-content--title {
      color: var(--black);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 3.2rem;

      margin-bottom: 10px;
    }
    .introduce-content--description {
      color: #353535;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

@media (max-width: 820px) {
  .introduce {
    padding: 10px;
    .introduce-icon {
      padding-right: 10px;
      span {
        font-size: 3rem;
      }
    }
    .introduce-content {
      .introduce-content--title {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }
      .introduce-content--description {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
    }
  }
}

@media (max-width: 520px) {
  .introduce {
    padding: 10px;
    .introduce-icon {
      padding-right: 16px;
      span {
        font-size: 2.4rem;
      }
    }
    .introduce-content {
      .introduce-content--title {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
      .introduce-content--description {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}
