.introduce {
  display: flex;
  align-items: center;
  padding: 30px 10px;

  .introduce__icon {
    color: var(--primary);
    padding-right: 16px;
    span {
      font-size: 4rem;
    }
  }

  .introduce__content {
    .introduce__content--title {
      color: var(--black);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 3.2rem;

      margin-bottom: 10px;
    }

    .introduce__content--description {
      color: #353535;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

/* Mobile and tablet */
@media (max-width: 1480px) {
}
/* IPAD PRO */
@media (min-width: 1048px) and (max-width: 1480px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
  .introduce {
    padding: 10px;

    .introduce__icon {
      padding-right: 10px;

      span {
        font-size: 3rem;
      }
    }

    .introduce__content {
      .introduce__content--title {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }

      .introduce__content--description {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
    }
  }
}
/* Mobile */
@media (max-width: 739px) {
  .introduce {
    padding: 10px;

    .introduce__icon {
      padding-right: 16px;
      span {
        font-size: 2.4rem;
      }
    }

    .introduce__content {
      .introduce__content--title {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }

      .introduce__content--description {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}
