.user__information {
  .user__detail {
    padding: 20px 0;

    .title__detail {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: 700;
      color: #434343;

      position: relative;
      border-bottom: 2px solid #ededed;
      padding-bottom: 8px;
      margin-bottom: 30px;
    }

    .container {
      width: 100%;

      .item {
        display: flex;
        margin-bottom: 10px;

        .item__title {
          text-align: left;
          font-size: 14px;
          font-weight: initial;

          width: 120px;
          float: left;
          line-height: 38px;
        }

        .item__text {
          background: #ededed;
          padding: 0 20px;
          border: 1px solid transparent;

          display: flex;
          width: 100%;
          min-height: 45px;
          -webkit-appearance: none;
          align-items: center;
        }
      }
    }

    .btn__update {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}
