.product__admin {
  display: flex;
  padding-top: 10px;

  .product__image {
    padding-right: 20px;
    img {
      max-width: 100%;
      width: 100%;
      transform: translateZ(0);
      margin: 0 auto;
    }
  }

  .product__content {
    padding-left: 20px;
    .product__content--item {
      display: flex;
      flex-direction: row;
      font-size: 1.5rem;
      padding-bottom: 4px;

      .item__title {
        font-weight: 700;
        padding-right: 6px;
      }
      .item__text {
      }
    }

    .item__column {
      flex-direction: column;
    }
  }

  .product__choose {
    padding-top: 10px;

    .product__choose--item {
      margin-right: 10px;
    }
  }
}

/* Mobile and tablet */
@media (max-width: 1480px) {
}
/* IPAD PRO */
@media (min-width: 1048px) and (max-width: 1480px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1047px) {
}
/* Mobile */
@media (max-width: 739px) {
  .product__admin {
    display: flex;
    padding-top: 10px;

    .product__image {
      padding-right: 0px;
    }

    .product__content {
      padding-left: 0px;
    }
  }
}
