.other__method {
  color: var(--text-color);
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .logo__google {
    margin-top: 8px;
    height: 40px;
    cursor: pointer;
  }
}
