.navbar {
  .list {
    display: flex;
  }
}

@media (max-width: 1239px) {
  .navbar {
    .list {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }
}

@media (max-width: 820px) {
  .navbar {
    width: 100%;

    .list {
      background-color: whitesmoke;
    }
  }
}
