.header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 10;

  .header-inner {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper__nav {
      width: 100%;
      padding: 15px;
    }

    .wrapper__search {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .bar-phone {
      display: none;
    }

    .logo-header {
      width: 30%;

      img {
        width: 225px;
      }
    }

    .information {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      height: 100%;
      color: var(--text-color);

      .header-access {
        text-transform: uppercase;

        border-right: 0.6px solid var(--text-color);
        padding-right: 8px;
        margin-right: 8px;

        cursor: pointer;

        .access-content {
          text-decoration: none;
          color: var(--text-color);

          &:hover {
            color: var(--black);
          }
        }
      }

      .cart-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          .cart-name {
            color: var(--primary);
          }
        }

        .cart-name {
          text-transform: uppercase;
          color: var(--text-color);
        }

        .cart-icon {
          position: relative;
          color: var(--primary);
          margin-right: 8px;

          span {
            font-size: 3.5rem;
          }

          .cart-number {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--primary);
          }
        }
      }
    }
  }

  .header-list-item-pc {
    margin-bottom: 30px;
  }
}

@media (max-width: 820px) {
  .header {
    display: block;
    align-items: center;
    height: 100px;
    position: relative;

    .header-list-item-pc {
      display: none;
    }

    .cart-name {
      display: none;
    }

    .header-inner {
      .bar-phone {
        font-size: 2.4rem;
        padding-left: 16px;
        width: 20%;
        display: flex;
        color: var(--primary);
      }

      .logo-header {
        width: 60%;
      }

      .search {
        display: none;
      }

      .information {
        width: 20%;
        // display: none;
        .header-access {
          display: none;
        }
      }
    }
  }
}
