.header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 10;

  .header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mobile {
      display: none;
    }

    .wrapper__nav {
      width: 100%;
      padding: 15px;
    }

    .wrapper__search {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .bar-phone {
      display: none;
    }

    .logo-header {
      width: 30%;

      img {
        width: 225px;
      }
    }

    .information {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      height: 100%;
      color: var(--text-color);

      .header-access {
        text-transform: uppercase;

        border-right: 0.6px solid var(--text-color);
        padding-right: 8px;
        margin-right: 8px;

        cursor: pointer;

        .access-content {
          text-decoration: none;
          color: var(--text-color);

          &:hover {
            color: var(--black);
          }
        }
      }

      .cart-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          .cart-name {
            color: var(--primary);
          }
        }

        .cart-name {
          text-transform: uppercase;
          color: var(--text-color);
        }

        .cart-icon {
          position: relative;
          color: var(--primary);
          margin-right: 8px;

          span {
            font-size: 3.5rem;
          }

          .cart-number {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--primary);
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .header {
    .header-inner {
      position: relative;

      .choose {
        height: 60px;
      }

      .pc {
        display: none;
      }

      .mobile {
        display: flex;
      }

      .show-mobile {
        display: flex;
      }

      .close-mobile {
        display: none;
      }

      .icon__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--text-color);
      }

      .logo-header {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .information {
        width: 100%;
      }
    }
  }
}
