.categories {
  .products {
    .product {
      margin-bottom: 20px;

      .product__btn {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .btn__add {
          padding-right: 10px;
        }
      }
    }
  }
}
