.categories {
  .categories__list {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .category {
      .category__title {
        cursor: pointer;
        font-size: 1.6rem;
        color: #333;
        font-weight: 500;
        transition: all 0.3s;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
